<!-- blogs/templates/blogs/edit_post.html -->
{% extends "blogs/base.html" %}
{% load django_bootstrap5 %}

{% block content %}
    <h2>编辑文章: {{ post.title }}</h2>

    <form action="{% url 'blogs:edit_post' post.id %}" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% bootstrap_button button_type="submit" content="保存修改" %}
    </form>

    <style>
        textarea[name="text"] {
            resize: none; /* 禁用调整大小功能 */
            min-height: 200px; /* 设置默认较大高度 */
        }
    </style>
    
    {% load static %}
    <script src="{% static 'js/form_utils.js' %}"></script>

{% endblock content %}